<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WildFireChat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>22243576F87E877A85626A537BE91AC65C4FB4B9</string>
				<key>dateExpires</key>
				<string>2020/12/16</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22243576F87E877A85626A537BE91AC65C4FB4B9</string>
						<key>dateExpires</key>
						<string>2020/12/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WFAVEngineKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L35R378236</string>
						<key>name</key>
						<string>yongqiang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22243576F87E877A85626A537BE91AC65C4FB4B9</string>
						<key>dateExpires</key>
						<string>2020/12/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WFChatClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L35R378236</string>
						<key>name</key>
						<string>yongqiang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22243576F87E877A85626A537BE91AC65C4FB4B9</string>
						<key>dateExpires</key>
						<string>2020/12/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WFChatUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L35R378236</string>
						<key>name</key>
						<string>yongqiang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22243576F87E877A85626A537BE91AC65C4FB4B9</string>
						<key>dateExpires</key>
						<string>2020/12/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WFMomentClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L35R378236</string>
						<key>name</key>
						<string>yongqiang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22243576F87E877A85626A537BE91AC65C4FB4B9</string>
						<key>dateExpires</key>
						<string>2020/12/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WFMomentUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L35R378236</string>
						<key>name</key>
						<string>yongqiang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22243576F87E877A85626A537BE91AC65C4FB4B9</string>
						<key>dateExpires</key>
						<string>2020/12/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L35R378236</string>
						<key>name</key>
						<string>yongqiang wang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L35R378236.cn.shengshichat.messange.JIUZHOU</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L35R378236</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>九州.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2521cef0-3e70-49ef-8092-f784f11a5cd9</string>
				<key>name</key>
				<string>cn.shengshichat.messange.JIUZHOU</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L35R378236</string>
				<key>name</key>
				<string>yongqiang wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
