<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WildFireChat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D8C39303ADAA07CD5A441BCEE62A094B53C3240E</string>
				<key>dateExpires</key>
				<string>2021/1/12</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8C39303ADAA07CD5A441BCEE62A094B53C3240E</string>
						<key>dateExpires</key>
						<string>2021/1/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WFAVEngineKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3AC5Z7RJQ3</string>
						<key>name</key>
						<string>leiyang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8C39303ADAA07CD5A441BCEE62A094B53C3240E</string>
						<key>dateExpires</key>
						<string>2021/1/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WFChatClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3AC5Z7RJQ3</string>
						<key>name</key>
						<string>leiyang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8C39303ADAA07CD5A441BCEE62A094B53C3240E</string>
						<key>dateExpires</key>
						<string>2021/1/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WFChatUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3AC5Z7RJQ3</string>
						<key>name</key>
						<string>leiyang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8C39303ADAA07CD5A441BCEE62A094B53C3240E</string>
						<key>dateExpires</key>
						<string>2021/1/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WFMomentClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3AC5Z7RJQ3</string>
						<key>name</key>
						<string>leiyang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8C39303ADAA07CD5A441BCEE62A094B53C3240E</string>
						<key>dateExpires</key>
						<string>2021/1/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WFMomentUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3AC5Z7RJQ3</string>
						<key>name</key>
						<string>leiyang wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8C39303ADAA07CD5A441BCEE62A094B53C3240E</string>
						<key>dateExpires</key>
						<string>2021/1/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3AC5Z7RJQ3</string>
						<key>name</key>
						<string>leiyang wang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3AC5Z7RJQ3.cn.messange.518</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3AC5Z7RJQ3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>聊8.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b02316bf-e60f-43ab-8995-0c4ad80db0da</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: cn.messange.518</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3AC5Z7RJQ3</string>
				<key>name</key>
				<string>leiyang wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
